.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 8px;
  label {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
  }
  input {
    max-width: 300px;
  }
}
